@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TimeSheet</h1>
    <p class="lead">A Secure, Simple Easy to Use platform for managing all your legal work process to help you become more efficient and productive in your legal practice.</p>
    <p><a href="/Account/Login" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Register Legal firm details and have full access and start adding tasks to your account. 
        </p>
        <p><a class="btn btn-default" href="/Account/Login">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Users</h2>
        <p>Also add asers and access levels or roles to the users. The Application enables a clean separation of user roles and gives you full control over process.
        </p>
        <p><a class="btn btn-default" href="/Account/Login">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cloud Technology</h2>
        <p>There are no overhead costs on any hardware setup. The application is hosted securely on Microsoft Azure Cloud Computing Platform and Services.</p>
        <p><a class="btn btn-default" href="/Account/Login">Learn more &raquo;</a></p>
    </div>
</div>